<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Day view</title>
		<link href="/stylesheets/headerStyle.css" type="text/css" rel="stylesheet">
		<link href="/stylesheets/dayStyle.css" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<a href="/" rel="homepage" title="homepage"><h1>Event Calendar</h1></a>
		<div id="links">
			<a href="/home">HOME PAGE</a>
			<a href="/about">ABOUT</a>
			<a href="/events/createEvent">CREATE EVENT</a>
			<a href="/todo/createTodo">CREATE TODO</a>
			<a href="/logout/">LOGOUT</a>
		</div>
		<h2>{{dayName}}</h2>
		<div id="events">
			{{#each events}}
				<div id={{this._id}} class="event">
					<p><strong>Name: </strong>{{this.name}}</p>
					<p><strong>Priority: </strong>{{this.priority}}</p>
					{{#if this.eventDate}}
						<p><strong>Event Date: </strong>{{this.eventDate}}</p>
					{{/if}}
					{{#if this.description}}
						<p><strong>Description: </strong>{{this.description}}</p>
					{{/if}}
				</div>
			{{/each}}
		</div>
		<script src="/javascripts/dayScript.js"></script>
	</body>
</html>