<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Event view</title>
		<link href="/stylesheets/eventStyle.css" type="text/css" rel="stylesheet">
		<link href="/stylesheets/headerStyle.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<a href="/" rel="homepage" title="homepage"><h1>Event Calendar</h1></a>
		<div id="links">
			<a href="/home">HOME PAGE</a>
			<a href="/about">ABOUT</a>
			<a href="/events/createEvent">CREATE EVENT</a>
			<a href="/todo/createTodo">CREATE TODO</a>
			<a href="/logout/">LOGOUT</a>
		</div>
		{{#if error}}
			<p class=err">{{error}}</p>
		{{/if}}
		<div id="event">
			<p><strong>Event Name: </strong>{{name}}</p>
			<p><strong>Event Priority: </strong>{{priority}}</p>
			{{#if date}}
				<p><strong>Day: </strong><span id="due">{{date}}</span></p>
				<p><strong>Days Left: </strong><span id="left"></span></p>
			{{/if}}
			{{#if description}}
				<p><strong>Description: </strong>{{description}}</p>
			{{/if}}
		</div>
		<script src="/javascripts/eventView.js"></script>
	</body>
</html>